body {
    font-family: 'Ubuntu', sans-serif !important;
}

.container {
    max-width: 1450px !important;
}

.site-information {
    position: relative;
    z-index: 1000;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    background-color: #7ac143;
    height: 26px;
    font-size: .75em;
    text-align: center;
    line-height: 26px;
}

.header-main {
    position: relative;
    z-index: 999;
    width: 100%;
    color: #fff;
    background-color: #384245;
}

.content-container {
    height: 94px;
    width: 1140px;
    margin: 0 auto;
}

.center-place {
    font-size: 1.5em;
    background-color: white;
}

.contanier {
    background-color: white;
    z-index: 100;
}

.background-cp-img {
    background-image: url("../img/bodytilebottom-tall.jpg");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: auto;
    background-color: #414244;
}

.background-cp-img2 {
    background-image: url("../img/robozombies7.png");
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: repeat-x;
}

.page-footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding-bottom: 60px;
}